<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<context:component-scan base-package="com.njwb.www"/>
	
	<!-- 使用转换器 -->
	<mvc:annotation-driven conversion-service="converterService"/>
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 拼接前缀 -->
		<property name="prefix" value="/njwb/"/>
		<!-- 拼接后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 日期转换器 -->
	<bean id="converterService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.njwb.www.converter.DateConverter"/>
			</set>
		</property>
	</bean>
</beans>